<div class="row logo">
    <div class="col-md-4 col-md-offset-4 text-center">
        <small id="status" ng-bind-html="message"></small>
    </div>
</div>

<div class="row encrypt">

    <div class="col-md-4 col-md-offset-4 text-center">

        <form role="form">

            <div class="form-group file-group" ng-hide="fileUploaded">

                <span class="btn btn-default btn-file" id="encrypt-input">
                    {{ uploadFieldText || 'Pick a file (5MB)' }}<input type="file" ng-model="uploadedFile" ng-change="uploadFile()" upload-on-change />
                </span>

            </div>

            <div class="form-group link-group" ng-show="fileUploaded">
                <input type="text" class="form-control" id="link" ng-value="uploadLink" select-on-click />
            </div>

        </form>

    </div>

</div>